.main-banner {
	display: block;
	float: left;
	position: relative;
	width: 100%;
	padding: 40px 0;
	&--box {
		display: block;
		float: left;
		width: 100%;
		@include border-radius(15px);
		position: relative;
		-webkit-box-shadow: 0 35px 25px -25px rgba(0,0,0,0.3);
		        box-shadow: 0 35px 25px -25px rgba(0,0,0,0.3);
	}
	&--content {
		position: absolute;
		left: 50px;
		top: 75px;
		width: 70%;
		h1 {
			text-transform: uppercase;
			font-family: $im;
			font-size: 44px;
			color: #222;
		}
		h4 {
			color: #222;
			font-size: 18px;
			text-transform: uppercase;
			margin-top: 0;
			margin-bottom: 20px;
			font-weight: bold;
		}
		&--link {
			display: block;
			float: left;
			text-align: center;
			color: #FFF;
			padding: 15px 35px;
			text-decoration: none;
			font-size: 16px;
			font-weight: bold;
			border: 1px solid #0464a2;
			border-bottom: 2px solid #004a8e;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			border-radius: 5px;
			-moz-background-clip: padding;
			-webkit-background-clip: padding-box;
			background-clip: padding-box;
			background-color: #1585cf;
			-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.3);
			-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.3);
			box-shadow: inset 0 1px 0 rgba(255,255,255,.3);
			background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDE3MyA1MCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSItMS40MjEwODU0NzE1MjAyZS0xNCUiPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmZmIiBzdG9wLW9wYWNpdHk9IjAuMyIvPgo8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMDExMTAiIHN0b3Atb3BhY2l0eT0iMC4zIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTczIiBoZWlnaHQ9IjUwIiBmaWxsPSJ1cmwoI2hhdDApIiAvPgo8L3N2Zz4=);
			background-image: -moz-linear-gradient(bottom, rgba(255,255,255,.3) 0%, rgba(16,18,16,.3) 100%);
			background-image: -o-linear-gradient(bottom, rgba(255,255,255,.3) 0%, rgba(16,18,16,.3) 100%);
			background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,.3) 0%, rgba(16,18,16,.3) 100%);
			background-image: linear-gradient(bottom, rgba(255,255,255,.3) 0%, rgba(16,18,16,.3) 100%);
			@include transition(.3s);
			margin-top: 35px;
			i {
				margin-left: 10px;
			}
			&:hover {
				background-color: darken(#1585CF,10%);
				color: #fff;
				text-decoration: none;
			}
		}
	}
}
.content {
  display: block;
  position: relative;
  width: 100%;
  float: left;
  &__sidebar-left {
    display: block;
    position: relative;
    width: 100%;
    float: left;
    margin-top: 30px;
    &--catalog {
        border: 2px red solid;
        border-radius: 2px;
      h3 {
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        color: rgb(34, 34, 34);
        background-image: url("../img/catalog.png");
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        width: 100%;
        height: 80px;
        padding-top: 27px;
        padding-left: 21px;
        margin: 0 0 0 0;
      }
      ul{
        display: block;
        li{
          padding-top: 21px;
          padding-left: 21px;
          width: 100%;
          height: 40px;
          a{
            font-size: 15px;
            text-decoration: none;
            color: rgb(34, 34, 34);
            width: 100%;
            box-sizing: border-box;
            padding:14px 0 14px 0;
          }
          a:hover{
            text-decoration: underline;
            background-color: rgb(232,232,232);
            transition: background-color 400ms;
          }
          a:not(hover){
            transition: background-color 400ms;
          }
        }
      }
    }
  }
}


