.main-banner {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  padding: 40px 0;
  &--box {
    display: block;
    float: left;
    width: 100%;
    position: relative;
    -webkit-box-shadow: 0 35px 25px -25px rgba(0, 0, 0, 0.3);
    box-shadow: 0 35px 25px -25px rgba(0, 0, 0, 0.3);
    .fotorama {
      @include border-radius(10px !important);
    }
  }
  &--content {
    position: absolute;
    left: 50px;
    top: 75px;
    width: 70%;
    h1 {
      text-transform: uppercase;
      font-family: $im;
      font-size: 44px;
      color: #222;
    }
    h4 {
      color: #222;
      font-size: 18px;
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 20px;
      font-weight: bold;
    }
    &--link {
      display: block;
      float: left;
      text-align: center;
      color: #FFF;
      padding: 15px 35px;
      text-decoration: none;
      font-size: 16px;
      font-weight: bold;
      border: 1px solid #0464a2;
      border-bottom: 2px solid #004a8e;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      background-color: #1585cf;
      -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3);
      -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3);
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3);
      background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDE3MyA1MCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSItMS40MjEwODU0NzE1MjAyZS0xNCUiPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmZmIiBzdG9wLW9wYWNpdHk9IjAuMyIvPgo8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMDExMTAiIHN0b3Atb3BhY2l0eT0iMC4zIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTczIiBoZWlnaHQ9IjUwIiBmaWxsPSJ1cmwoI2hhdDApIiAvPgo8L3N2Zz4=);
      background-image: -moz-linear-gradient(bottom, rgba(255, 255, 255, .3) 0%, rgba(16, 18, 16, .3) 100%);
      background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, .3) 0%, rgba(16, 18, 16, .3) 100%);
      background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, .3) 0%, rgba(16, 18, 16, .3) 100%);
      background-image: linear-gradient(bottom, rgba(255, 255, 255, .3) 0%, rgba(16, 18, 16, .3) 100%);
      @include transition(.3s);
      margin-top: 35px;
      i {
        margin-left: 10px;
      }
      &:hover {
        background-color: darken(#1585CF, 10%);
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

.content {
  display: block;
  position: relative;
  width: 100%;
  float: left;
  padding: 30px 0;
  &__sidebar-left {
    display: block;
    position: relative;
    width: 20%;
    float: left;
    &__catalog {
      display: block;
      position: relative;
      float: left;
      width: 100%;
      border: 1px solid #d0d0d0;
      background-color: #fff;
      @include box-shadow(0, 3px, 4px, rgba(0, 0, 0, .1));
      @include border-radius(5px);
      overflow: hidden;
    }
    &--head {
      display: block;
      width: 100%;
      float: left;
      position: relative;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 20px;
      background-color: #ffc705;
      -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3);
      -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3);
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3);
      background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDIzMCA1MCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSItMS40MjEwODU0NzE1MjAyZS0xNCUiPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMTAxMTEwIiBzdG9wLW9wYWNpdHk9IjAuMTUiLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmIiBzdG9wLW9wYWNpdHk9IjAuMTUiLz4KICAgPC9saW5lYXJHcmFkaWVudD4KCjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIyMzAiIGhlaWdodD0iNTAiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==);
      background-image: -moz-linear-gradient(bottom, rgba(16, 18, 16, .15) 0%, rgba(255, 255, 255, .15) 100%);
      background-image: -o-linear-gradient(bottom, rgba(16, 18, 16, .15) 0%, rgba(255, 255, 255, .15) 100%);
      background-image: -webkit-linear-gradient(bottom, rgba(16, 18, 16, .15) 0%, rgba(255, 255, 255, .15) 100%);
      background-image: linear-gradient(bottom, rgba(16, 18, 16, .15) 0%, rgba(255, 255, 255, .15) 100%);
      z-index: 10;

      &:after {
        content: "";
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #ffc004;
        position: absolute;
        bottom: -10px;
        left: 25px;
        z-index: -1;
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDIzMCA1MCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSItMS40MjEwODU0NzE1MjAyZS0xNCUiPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMTAxMTEwIiBzdG9wLW9wYWNpdHk9IjAuMTUiLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmIiBzdG9wLW9wYWNpdHk9IjAuMTUiLz4KICAgPC9saW5lYXJHcmFkaWVudD4KCjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIyMzAiIGhlaWdodD0iNTAiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==);
        background-image: -moz-linear-gradient(bottom, rgba(16, 18, 16, .15) 0%, rgba(255, 255, 255, .15) 100%);
        background-image: -o-linear-gradient(bottom, rgba(16, 18, 16, .15) 0%, rgba(255, 255, 255, .15) 100%);
        background-image: -webkit-linear-gradient(bottom, rgba(16, 18, 16, .15) 0%, rgba(255, 255, 255, .15) 100%);
        background-image: linear-gradient(bottom, rgba(16, 18, 16, .15) 0%, rgba(255, 255, 255, .15) 100%);
      }
      h3 {
        margin: 0;
        font-size: 18px;
        color: #222;
        text-transform: uppercase;
        font-weight: bold;
        a {
          display: block;
          float: right;
          color: #FFF;
          i {
            color: #FFF;
            text-align: right;
          }
        }

      }
    }
    &__sidebar-right {
      display: block;
      float: left;
      width: 20%;
    }
    &--catalog--list {
      &--counter {
        display: inline-block;
        margin-left: 10px;
        font-size: 15px;
        color: #999;
      }
      ul {
        display: block;
        padding: 0;
        li {
          display: block;
          width: 100%;
          border-bottom: 1px solid #E7E7E7;
          &:last-of-type {
            border: none;
          }
          a {
            display: block;
            float: left;
            font-size: 15px;
            text-decoration: none;
            color: rgb(34, 34, 34);
            width: 100%;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 17px 20px;
            text-decoration: none;
            @include transition(.3s);
          }
          a:hover {
            text-decoration: underline;
            background-color: rgb(232, 232, 232);
          }
        }
      }
    }
  }
  .home-news {
    display: block;
    position: relative;
    width: 100%;
    float: left;
    &--head {
      h3 {
        font-size: 18px;
        font-weight: bold;
        color: #212121;
        font-family: $pt;
        text-transform: uppercase;
        text-align: left;
        padding: 20px;
        border-bottom-style: solid;
        border-bottom-color: #1589d5;
      }
    }
    &--head:after {
      content: "";
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #1589d5;
      position: absolute;
      left: 28px;
      top: 80px;
    }
    &--head:before {
      content: "";
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #ffffff;
      position: absolute;
      left: 28px;
      top: 75px;
      z-index: 2;
    }
    &--item {
      border: 1px;
      border-bottom-style: solid;
      border-bottom-color: #e7e7e7;
      padding: 20px;
    }
    &__date {
      font-size: 13px;
      font-family: $pt;
      color: #1589d5;
      span {
        font-size: 13px;
        font-family: $pt;
        color: #a1a1a1;
      }
    }
    &__header {
      font-size: 15px;
      font-family: $pt;
      color: #212121;
      font-weight: bold;
      text-decoration: underline;
    }
    &__text {
      font-size: 14px;
      font-family: $pt;
      color: #212121;
    }
  }

}

.main-wrap {
  display: block;
  float: left;
  position: relative;
  width: 60%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 30px;
  .goods {
    display: block;
    position: relative;
    width: 100%;
    float: left;
    &__head {
      h3 {
        font-size: 20px;
        font-weight: bold;
        color: #212121;
        font-family: $pt;
        text-transform: uppercase;
        text-align: center;
        padding: 10px 0;
        margin: 0;
      }
    }   
  }  
  .goods_item {
    display: block;
    position: relative;
    float: left;
    width: 1 / 3 * 100%;
    height: 375px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 20px;
    border: 1px solid transparent;
    &:hover {    
		border-style: solid;
		border-width: 1px;
		border-color: rgb(208, 208, 208);
		border-radius: 3px;
		background-color: rgb(255, 255, 255);
		//box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.1);
	}
    &--price{
      display: block;
      position: absolute;
      text-align: center;
      padding: 5px 10px;
      background-color: rgb(255, 51, 51);
      @include border-radius(5px);
      padding: 4px;
      right: 20px;
      top: 25px;
      &:after {
      	content: "";
      	border-top: 4px solid rgb(255, 51, 51);
      	border-right: 3px solid transparent;
      	border-left: 3px solid transparent;
      	bottom: -4px;
      	left: 12px;
      	display: block;
      	position: absolute;
      }
      span {
        font-size: 18px;
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-align: center;
      }
    }
    &--img {
      text-align: center;
      width: 100%;
      height: 160px;
      img {
      	max-width: 100%;
      	max-height: 100%;
      	height: auto;
      	
      }
    }
    &--text {
      font-size: 15px;
      color: rgb(34, 34, 34);
      text-decoration: underline;
      text-align: left;
      padding: 10px;
    }
    &--btn {
		display: block;
		position: absolute;
		margin: 5px auto;
		bottom: 20px;
		width: 133px;
		height: 40px;   
		left: 50%;
	      -webkit-transform: translateX(-50%);
	         -moz-transform: translateX(-50%);
	          -ms-transform: translateX(-50%);
	           -o-transform: translateX(-50%);
	              transform: translateX(-50%);
		border: 1px solid #1a87d1;	   
		line-height: 40px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		-moz-background-clip: padding;
		-webkit-background-clip: padding-box;
		background-clip: padding-box;
		background-color: #1585cf;
		-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.3);
		-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.3);
		box-shadow: inset 0 1px 0 rgba(255,255,255,.3);
		background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEzMyA0MCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSItMS40MjEwODU0NzE1MjAyZS0xNCUiPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMTAxMTEwIiBzdG9wLW9wYWNpdHk9IjAuMyIvPgo8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmYiIHN0b3Atb3BhY2l0eT0iMC4zIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTMzIiBoZWlnaHQ9IjQwIiBmaWxsPSJ1cmwoI2hhdDApIiAvPgo8L3N2Zz4=);
		background-image: -moz-linear-gradient(bottom, rgba(16,18,16,.3) 0%, rgba(255,255,255,.3) 100%);
		background-image: -o-linear-gradient(bottom, rgba(16,18,16,.3) 0%, rgba(255,255,255,.3) 100%);
		background-image: -webkit-linear-gradient(bottom, rgba(16,18,16,.3) 0%, rgba(255,255,255,.3) 100%);
		background-image: linear-gradient(bottom, rgba(16,18,16,.3) 0%, rgba(255,255,255,.3) 100%);
		@include transition(.3s);     
        font-size: 16px;
        font-family: $pt;
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-align: center;
        text-decoration: none;  
        &:hover {		
			border: 1px solid #1a87d1;	
			background-color: #30ade6;
			-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.3);
			-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.3);
			box-shadow: inset 0 1px 0 rgba(255,255,255,.3);
			background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEzMyA0MCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSItMS40MjEwODU0NzE1MjAyZS0xNCUiPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMTAxMTEwIiBzdG9wLW9wYWNpdHk9IjAuMyIvPgo8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmYiIHN0b3Atb3BhY2l0eT0iMC4zIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTMzIiBoZWlnaHQ9IjQwIiBmaWxsPSJ1cmwoI2hhdDApIiAvPgo8L3N2Zz4=);
			background-image: -moz-linear-gradient(bottom, rgba(16,18,16,.3) 0%, rgba(255,255,255,.3) 100%);
			background-image: -o-linear-gradient(bottom, rgba(16,18,16,.3) 0%, rgba(255,255,255,.3) 100%);
			background-image: -webkit-linear-gradient(bottom, rgba(16,18,16,.3) 0%, rgba(255,255,255,.3) 100%);
			background-image: linear-gradient(bottom, rgba(16,18,16,.3) 0%, rgba(255,255,255,.3) 100%);
			text-decoration: none;
	    }
      }
    }  
  
}

.quick-choice {
	display: block;
	float: left;
	position: relative;
	width: 100%;
	margin-bottom: 30px;
	border: 1px solid #d0d0d0;
	@include border-radius(3px);
	@include background-clip(padding-box);
	background-color: #fff;
	@include box-shadow(0,3px,4px,rgba(0,0,0,.1));
	&--head {
		display: block;
		float: left;
		position: relative;
		width: 100%;
		h3 {
			font-size: 20px;
			font-weight: bold;
			text-align: center;
			margin: 20px 0;
		}
	}
	&--box {
		display: block;
		float: left;
		position: relative;
		width: 100%;
		height: 146px;
		@include background-clip(padding-box);
		background-color: #f3f3f3;
		@include box-shadow(0,2px,4px,rgba(0,21,73,.12));
	}
	&--sex, &--target, &--age {
		display: block;
		float: left;
		position: relative;
		width: 1 / 3 * 100%;
		padding: 20px 0;
		height: 100%;
		h4 {
			font-weight: bold;
			font-size: 17px;
			color: #222;
			text-align: center;
			margin-top: 0;
			margin-bottom: 15px;
		}
	}
	
	&--sex {		
		@include background-clip(padding-box);		
		text-align: center;
		padding-right: 40px;
		margin-right: -55px;
		text-align: center;
		width: 38%;
		z-index: 9;		
		&-m {
			display: inline-block;
			width: 60px;
			margin: 0;			
			color: #79B5E2;
			text-decoration: none;
			&--icon {
				display: block;
				position: relative;
				margin: 0 auto;
				height: 41px;
				width: 37px;
				background-image: url('../img/sex-icon.png');
				background-repeat: no-repeat;
				background-position: -38px 0;				
			}
			&:hover {
				text-decoration: none;
				.quick-choice--sex-m--icon {
					background-position: 0 0;
				}
				color: #fff;
			}
		}
		&-f {
			display: inline-block;
			width: 60px;
			margin: 0;			
			color: #79B5E2;
			text-decoration: none;
			&--icon {
				display: block;
				margin: 0 auto;
				height: 41px;
				width: 30px;
				background-image: url("../img/sex-icon.png");
				background-position: -79px 0px;
				background-repeat: no-repeat;
			}
			&:hover {		
				text-decoration: none;		
				.quick-choice--sex-f--icon {
					background-position: -111px 0;
				}
				color: #FFF;
			}
		}
	}
	&--target {
		z-index: 8;
		margin-right: -32px;
		width: 43%;
		padding: 20px 50px 20px 40px;
		background-image: url('../img/choice-bg.png');
		background-repeat: no-repeat;
		background-position: 100% 50%;
		text-align: center;
    /* filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); */ /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%);
    pointer-events: none;
		&-top {
			display: inline-block;
			width: 60px;
			margin: 0;			
			color: #79B5E2;
			text-align: center;
			text-decoration: none;
			&--icon {
				display: block;
				margin: 0 auto;
				height: 41px;
				width: 39px;
				background-image: url("../img/choice-arrows.png");
				background-position: 0px 0px;
				background-repeat: no-repeat;
			}
			&:hover {		
				text-decoration: none;		
				.quick-choice--target-top--icon {
					background-position: -78px 0;
				}
				color: #FFF;
			}
		}
		&-bot {
			display: inline-block;
			width: 60px;
			margin: 0;			
			color: #79B5E2;
			text-decoration: none;
			text-align: center;
			&--icon {
				display: block;
				margin: 0 auto;
				height: 41px;
				width: 39px;
				background-image: url("../img/choice-arrows.png");
				background-position: -38px 0px;
				background-repeat: no-repeat;
			}
			&:hover {		
				text-decoration: none;		
				.quick-choice--target-bot--icon {
					background-position: -117px 0;
				}
				color: #FFF;
			}
		}
	}
	.quick-choice--age {
	    width: 224px;
	    margin-left: -26px;
	    background-size: 150%;
	    background-position: 0;
	    padding-left: 35px;
	    text-align: center;
      /* filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); */ /* Firefox 10+, Firefox on Android */
      filter: gray; /* IE6-9 */
      -webkit-filter: grayscale(100%);
      pointer-events: none;
	    &-19 {
	    	@extend .quick-choice--target-bot;
	    	margin: 0;
	    	width: 55px;
	    	z-index: 9;
	    	&--icon {
				display: block;
				margin: 0 auto;
				height: 39px;
				width: 44px;
				background-image: url("../img/age.png");
				background-position: 3px 0px;
				background-repeat: no-repeat;
			}
			&:hover {				
				.quick-choice--age-19--icon {
					background-position: -162px 0;
				}
			}
	    }
	    &-25 {
	    	@extend .quick-choice--target-bot;
	    	margin: 0;
	    	width: 55px;
    		&--icon {
				display: block;
				margin: 0 auto;
				height: 39px;
				width: 44px;
				background-image: url("../img/age.png");
				background-position: -61px 0px;
				background-repeat: no-repeat;
			}
			&:hover {				
				.quick-choice--age-25--icon {
					background-position: -230px 0;
				}
			}
	    }
	    &-40 {
	    	@extend .quick-choice--target-bot;
	    	margin: 0;
	    	width: 55px;
    		&--icon {
				display: block;
				margin: 0 auto;
				height: 39px;
				width: 44px;
				background-image: url("../img/age.png");
				background-position: -121px 0px;
				background-repeat: no-repeat;
			}
			&:hover {				
				.quick-choice--age-40--icon {
					background-position: -289px 0;
				}
			}
	    }
	}
	&--active {
		background-image: url('../img/choice-bg-1.png');
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		     -o-background-size: cover;
		        background-size: cover;
		background-position: 100% 50%;
		h4 {
			color: #FFF;
		}
	}
	&--separator {
		display: inline-block;
		width: 14px;
		height: 24px;
		top: -25px;
		margin: 0 -7px;
		position: relative;
		background-image: url('../img/separator.png');
		background-repeat: no-repeat;
		-webkit-background-size: contain;
		     -o-background-size: contain;
		        background-size: contain;
		
	}

	&--checked {
		@extend .header--basket--counter;
		display: block;
		background-color: #FFCE06;
		left: 40%;
		right: inherit;
		-webkit-transform: translateX(-50%);
		   -moz-transform: translateX(-50%);
		    -ms-transform: translateX(-50%);
		     -o-transform: translateX(-50%);
		        transform: translateX(-50%);
		padding: 5px 7px;
		&:after {
			border-top: 3px solid #FFCE06;
		}
	}
	.quick-choice--age {
		.quick-choice--checked {
			left: 55%;
		}
	}

}

.whyweare {
	display: block;
	float: left;
	position: relative;
	width: 100%;
	margin-top: 25px;
	h3 {
		font-size: 20px;
		color: #222;
		text-align: center;
		margin: 10px;
		font-weight: bold;
		text-transform: uppercase;
	}
	&__item {
		display: block;
		float: left;
		position: relative;
		width: 20%;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		padding: 0 5px;
		margin: 15px 0;
		&--img {
			display: block;
			position: relative;
			margin: 0 auto;
			width: 89px;
			height: 89px;
			@include border-radius(50%);
			line-height: 89px;
			text-align: center;
			@include background-clip(padding-box);
			background-color: #efece1;
			img {
				position: absolute;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%, -50%);
				   -moz-transform: translate(-50%, -50%);
				    -ms-transform: translate(-50%, -50%);
				     -o-transform: translate(-50%, -50%);
				        transform: translate(-50%, -50%);
			}
		}
		&--desc {
			display: block;
			float: left;
			width: 100%;
			margin-top: 15px;
			text-align: center;
			height: 70px;
			p {
				color: #222;
				font-size: 15px;
			}
		}
	}

}

.home-information {
	display: block;
	float: left;
	position: relative;
	width: 100%;
	padding: 15px 0 35px;
	h2 {
		font-size: 30px;
		color: #222;
		font-weight: bold;
		margin: 10px 0;
	}
	p {
		margin: 10px 0;
		color: #222;
		font-size: 15px;
		line-height: 23px;
		display: block;
		float: left;
		width: 100%;
		img {
			float: left;
			margin-right: 15px;
		}
	}
	h3 {
		font-size: 20px;
		color: #222;
		font-weight: bold;
		margin: 25px 0;
	}
	&--callcenter {
		display: block;
		float: right;
		position: relative;
		width: calc(100% - 34px);
		margin: 15px 0;
		background-color: #efebe1;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		padding: 10px 80px 10px 60px;
		&--icon {
			display: block;
			position: absolute;
			top: 50%;
			left: -33px;
			-webkit-transform: translateY(-50%);
			   -moz-transform: translateY(-50%);
			    -ms-transform: translateY(-50%);
			     -o-transform: translateY(-50%);
			        transform: translateY(-50%);
			@include border-radius(50%);
			background-image: url('../img/call-center.png');
			background-repeat: no-repeat;
			background-position: 50% 50%;
			width: 66px;
			height: 66px;
			border: 2px solid #efebe1;
			@include border-radius(34px);
			@include background-clip(padding-box);
			background-color: #fff;

		}
	}

}